.button {
  padding: 10px;
  width: 150px;
  margin: 5px;
  background-color: #b0dfb8;
  border: 2px solid #4caf50;
  border-radius: 4px;
  font-size: 16px;
}

.heading {
  padding: 8px;
}

.input {
  padding: 10px;
  margin: 5px;
}

.inputselect {
  margin: 5px;
  padding: 5px;
  width: 200px;
}
.filter {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  width: 100%;
}
.text {
  padding: 8px;
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.oneexpense {
  padding-top: 8px;
  padding-left: 8px;
  font-size: 18px;
}

.info {
  font-weight: bold;
  padding-left: 10px;
}

.price {
  padding-left: 15px;
}

.category {
  color: gray;
  padding-top: 8px;
  font-size: 18px;
  padding-right: 20px;
}

.blox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.suminput {
  width: 100px;
  padding: 10px;
  margin: 5px;
}

.dateinput {
  width: 110px;
  padding: 10px;
  margin: 5px;
}

.nameinput {
  width: 300px;
  padding: 10px;
  margin: 5px;
}
.inputselectchange {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.bloxxhange {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttonchange {
  padding: 5px;
  width: 100px;
  height: 35px;
  margin: 5px;
  background-color: #b0dfb8;
  border: 2px solid #4caf50;
  border-radius: 4px;
}

.label {
  padding: 5px;
  margin: 5px;
  padding-top: 15px;
}

.buttondelete {
  padding: 5px;
  width: 120px;
  height: 35px;
  margin: 5px;
  margin-right: 220px;
  background-color: #d85f5f;
  border: 2px solid #f83939;
  border-radius: 4px;
}
